body {
  background-color: #212931;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  padding-left: 100px;
  padding-right: 100px;
}

.spacer {
  height: 25px;
}

#nav {
  padding: 0;
  line-height: 4rem;
  background: rgba(255, 255, 255, 0.175) !important;
}

#nav ul li a {
  text-transform: uppercase;
  color: white;
  font-size: 0.8rem;
  font-weight: 900;
  padding: 0 2rem;
}

#nav ul.links li.active {
  background-color: white;
}

#nav ul.links li.active a {
  color: black;
}

#main {
  background-color: white;
  margin-bottom: 20px;
}


header.major h2 {
  font-size: 56px;
}

h2 {
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  color: black;
}

header.major {
  text-align: center;
  margin-bottom: 25px;
}

/* Styling helpers */

.m-t-30 {
  margin-top: 30px;
}

.m-l-20 {
  margin-left: 10px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-30{
  margin-bottom: 30px;
}

.m-lr-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.question{
  margin-left: 30px;
  color: grey;
  font-style: italic;
}

.mainTitle{
  color: #212931;
  font-style: italic;
  font-weight: 900;
}

.subTitle{
  color: #212931;
  text-transform: uppercase;
  font-size: 24px;
  margin-left: 20px;
  font-style: italic;
  font-weight:900;
}

.answer {
  color: black;
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right:30px
}

.centerHead{
  align-items: center;
  justify-content: center;
}

#nyc_map{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

#nyc_map circle {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#nyc_map path:hover {
  fill: rgba(0, 0, 0, 0.6);
}

#nyc_map path:active {
  fill: rgba(0, 0, 0, 0.6);
}

#tooltip {
  position: absolute;
  width: 150px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4); -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4); box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4); pointer-events: none;
}

#tooltip h6 {
  text-decoration: underline;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}

/* BUTTONS */
.btn-secondary{
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 12px;
}

.blackFont{
  color:black;
}

.btn-secondary.active{
  color:white;
}

.btn-secondary.black {
	background-color: #b22222;
	border-color: #b22222;
}
.btn-secondary.asian {
	background-color: #00ff2b;
	border-color: #00ff2b;
}
.btn-secondary.white {
	background-color: #00ffec;
	border-color: #00ffec;
}
.btn-secondary.native {
	background-color: #ff69b4;
	border-color: #ff69b4;
}
.btn-secondary.hispanic {
	background-color: #FFA500;
	border-color: #FFA500;
}
.btn-secondary.other {
	background-color: #000000;
	border-color: #000000;
}

.centerButtons{
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}


.brush{
  opacity: .3;
  stroke: "gray";
  fill: "gray";
}

.nonbrushed{
  opacity: 0 ;
}

.brushed {
  opacity: 1.0;
}
